@import './base.css';

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  display: block;
  font-weight: normal;
  margin-left: 10%;
  margin-right: 10%;
}

a{
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  color: blueviolet;
  transition: 0.4s;
}


@media (hover: hover) {
  a:hover {
    /* color: hsla(160, 100%, 37%, 0.2); */
    color: violet;
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    display: block;
    place-items: center;
  }

  #app {
    display: grid; 
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
